ApiDemoConsoleApplication/Web References/FormsAuthenticator/OfflineFormsAuthenticator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://activerisk.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://activerisk.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://activerisk.com/">
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsServiceReachable">
        <s:complexType />
      </s:element>
      <s:element name="IsServiceReachableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsServiceReachableResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAuthenticationMode">
        <s:complexType />
      </s:element>
      <s:element name="GetAuthenticationModeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetAuthenticationModeResult" type="s:short" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IsServiceReachableSoapIn">
    <wsdl:part name="parameters" element="tns:IsServiceReachable" />
  </wsdl:message>
  <wsdl:message name="IsServiceReachableSoapOut">
    <wsdl:part name="parameters" element="tns:IsServiceReachableResponse" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticationModeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAuthenticationMode" />
  </wsdl:message>
  <wsdl:message name="GetAuthenticationModeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAuthenticationModeResponse" />
  </wsdl:message>
  <wsdl:portType name="OfflineFormsAuthenticatorSoap">
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsServiceReachable">
      <wsdl:input message="tns:IsServiceReachableSoapIn" />
      <wsdl:output message="tns:IsServiceReachableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationMode">
      <wsdl:input message="tns:GetAuthenticationModeSoapIn" />
      <wsdl:output message="tns:GetAuthenticationModeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfflineFormsAuthenticatorSoap" type="tns:OfflineFormsAuthenticatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://activerisk.com/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceReachable">
      <soap:operation soapAction="http://activerisk.com/IsServiceReachable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationMode">
      <soap:operation soapAction="http://activerisk.com/GetAuthenticationMode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="OfflineFormsAuthenticatorSoap12" type="tns:OfflineFormsAuthenticatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://activerisk.com/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsServiceReachable">
      <soap12:operation soapAction="http://activerisk.com/IsServiceReachable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAuthenticationMode">
      <soap12:operation soapAction="http://activerisk.com/GetAuthenticationMode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfflineFormsAuthenticator">
    <wsdl:port name="OfflineFormsAuthenticatorSoap" binding="tns:OfflineFormsAuthenticatorSoap">
      <soap:address location="https://localhost/arm/Secure/Services/OfflineFormsAuthenticator.asmx" />
    </wsdl:port>
    <wsdl:port name="OfflineFormsAuthenticatorSoap12" binding="tns:OfflineFormsAuthenticatorSoap12">
      <soap12:address location="https://localhost/arm/Secure/Services/OfflineFormsAuthenticator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>